html {
  font-family: system-ui, sans-serif;
  font-size: 1.2em;
  color-scheme: dark light;
  accent-color: deeppink;
}

button {
  font-family: inherit;
  font-size: inherit;
  padding: .5em 1em;
  cursor: pointer;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
