<fieldset class="button-group">
	<legend>Percussion</legend>
	<button id="noise">
		Noise 1
	</button>
	<button id="noise2">
		Noise 2
	</button>
	<button id="noise3">
		Noise 3
	</button>
	<button id="noise4">
		Noise 4
	</button>
</fieldset>
