<fieldset class="button-group">
	<legend>Various sound effects</legend>
	<button id="bling">
		Bling
	</button>
	<button id="ring">
		Ring
	</button>
	<button id="laser">
		Laser
	</button>
	<button id="witch">
		Witch
	</button>
	<button id="emergency">
		Emergency
	</button>
	<button id="gameover">
		Game Over
	</button>
	<button id="won">
		I won
	</button>
	<button id="smoke">
		Smoke
	</button>
	<button id="melody">
		Melody (C-major scale)
	</button>
</fieldset>
