<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="/favicon.png">
		<link rel="stylesheet" href="/css/demo.css">
  </head>
  <body>
		<header class="header">
			<a href="/"><img src="favicon.png" alt="Logo"></a>
			<h2>retro-sound.js</h2>
		</header>
		<main>
			<article class="wrapper flow">
				<h1>{{title}}</h1>
				{{ content | safe }}
			</article>
		</main>
		<footer class="footer">
			<p>Made with love <span aria-hidden="true">💖</span> by Lea Rosema</p>
		</footer>
    <script type="module" src="demo.js"></script>
  </body>
</html>
