<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      {% include "demo.css" %}</style>
  </head>
  <body class="flow">
    <h1>Lea's Web Audio Sound Machine</h1>
    <fieldset class="button-group">
			<legend>Various sound effects</legend>
      <button id="bling">
        Bling
      </button>
      <button id="ring">
        Ring
      </button>
      <button id="laser">
        Laser
      </button>
      <button id="witch">
        Witch
      </button>
      <button id="emergency">
        Emergency
      </button>
      <button id="gameover">
        Game Over
      </button>
      <button id="won">
        I won
      </button>
      <button id="smoke">
        Smoke
      </button>

    </fieldset>
		<fieldset class="button-group">
			<legend>Percussion</legend>
			<button id="noise">
				Noise 1
			</button>
			<button id="noise2">
				Noise 2
			</button>
			<button id="noise3">
				Noise 3
			</button>
		</fieldset>
    <script type="module" src="demo.js"></script>
  </body>
</html>
