<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      {% include "demo.css" %}</style>
  </head>
  <body>
    <h1>Lea's Web Audio Sound Machine</h1>
    <div class="button-group">
      <button id="bling">
        Bling
      </button>
      <button id="ring">
        Ring
      </button>
      <button id="laser">
        Laser
      </button>
      <button id="witch">
        Witch
      </button>
      <button id="emergency">
        Emergency
      </button>
      <button id="gameover">
        Game Over
      </button>
      <button id="won">
        I won
      </button>
      <button id="smoke">
        Smoke
      </button>
    </div>
    <script type="module" src="demo.js"></script>
  </body>
</html>
